html, body {
  background: linear-gradient(#fff, 70%, #f9aec9);
  height: 100vh;
}

#cart-container {
  padding-top: 50px;
}

.cart-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.cart-table th {

  background-color: #fce4ec;
  color: #d81b60;
  padding: 15px;
  text-align: left;
}

.cart-table td {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.cart-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.header-icons a {
  color: #d81b60;
  font-size: x-large;
  text-decoration: none;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-qty {
  background: #fce4ec;
  border: none;
  color: #d81b60;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-remove {
  border: none;
  cursor: pointer;
  text-decoration: underline;
  background: #fce4ec;
  border: 1px solid #d81b60;
  color: #d81b60;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.cart-item-name {
  font-weight: 600;
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

#text-center {
  text-align: center;
}

.qty-number {
  min-width: 20px;
  display: inline-block;
}

.empty-cart-msg {
  text-align: center;
  color: #888;
  margin-top: 50px;
}
